@import "config";
@import "mobile";

html,body{
    overflow-x: hidden;
    background-color: #0b182d !important;
}

body {
    -webkit-overflow-scrolling: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #112240;
}

.container-fluid {
    background-color: #0b182d;
}

.navbar {
    background-color: #112240;
}



span {
    color: $intro-color;
}

.display-1 {
    color: $light-color;
    max-width: 700px;
}

p {
    color: $lighter-color;
}


.h2 {
    color: $light-color;
    position: absolute;
}

.h2:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    background: $line-color;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 10px;

}

hr {
    color: $light-color;
}

.space {
    height:200px;
    background-color: #0b182d;
}

.space-2 {
    height: 200px;
    background-color: #0b182d;
}

.space-3 {
    background-color: #0b182d;
    height: 50px;
}

.statement {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/*.real-statement {
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}*/


.rounded {
    outline: 3px solid $intro-color;
    outline-offset: 15px;
} 

.pic-style {
    display: flex;
    position: relative;
}
   /* max-width: 350px;
    max-height: 350px;
} */

/*.pic-style::after {
    content: "";
    border: 2px solid $intro-color;
    position: absolute;
    inset: 0;
    max-height: 350px;
    max-width: 350px;
}*/




/*.content {
    display: flex;
    justify-content: flex-end;
    /*height: 100vh;  check out, if u add more contetn in this section with this looks better
}*/

/*.my-pic {
    max-width: 350px;
    max-height: 350px;
} */

/*.color-overlay {
    width: 90%;
    height: 100%;
    background: #8892b0;
    opacity: .5;
    position: absolute;
}

.color-overlay:hover {
    display: none;
} */

.side-navbar {
    background-color: #112240;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    }

    .nav-mobile {
        background-color: #0d1d37;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28100, 255, 218, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        
    }

    .navbar-light .navbar-toggler {
        border: 1px solid $intro-color !important;
    }
    


    

    ul.nav a:hover { 
        color: $intro-color !important; 
    }

    .resume {
        outline: 1px solid $intro-color;
        outline-offset: 2px;
    }

    

    .side-navbar {
        background-color: transparent;
    }

   
.socials:hover {
    filter: invert(71%) sepia(44%) saturate(429%) hue-rotate(113deg) brightness(180%) contrast(105%);
}



.resume:hover {
    background-color: $resume-color;
}
   
        

.worked {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}






.row-cols-lg {
    max-width: 600px;
    border: 1px solid #64ffda;
    background-color: #0b182d;
}


.work-location {
    color: $intro-color;
}

.work-location:hover {
    background-color: #033487;
    cursor: pointer;
}

/*.job-description {
    list-style-type: none;
}*/

ul {
    list-style-image: url(/images/play-button-arrow-svgrepo-com.svg);
}

.space-3 {
    height: 330px;
}

.col-xl {
    border: 1px solid $intro-color;
}

.h2-modified:after {
    content: "";
    display: block;
    width: 138px;
    height: 1px;
    background: $line-color;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 10px;

}


.row-cols-2 {
    border-radius: 10px;
}

.col-xl {
    border-radius: 10px;
}

.col {
    color: $lighter-color !important;
}

.job-description {
    color: $light-color;
}


.bla-bla {
    background-color: #0b182d; 
}
.h2-modified-2:after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: $line-color;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 10px;

}

.container-builds {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 700px;
}

.contact {
    padding-top: 300px;
    height: 700px;
}

.btn:hover {
    background-color: #1b3766;
}


footer {
    display: flex;
    justify-content: center;
}

.nav-footer ul {
    display: flex;
    justify-content: space-between;
}

.nav-footer-li {
    filter: invert(21%) sepia(100%) saturate(2556%) hue-rotate(293deg) brightness(120%) contrast(121%) !important;
}

.nav-footer-ul {
    border-radius: 10px;
}

.colored-test {
    background-color: #0b182d !important;
}

.nav-desktop {
    background-color: #0d1d37 !important;
}


.col-md-12 {
    display: flex;
    align-items: center;
    background-color: #0d1b33;
}

























